<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        {% block meta %}
            <meta name="description" content="">
            <meta name="author" content="">
        {% endblock %}

        {% assets "common_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
        {% endassets %}

        {% block css %}
        {% endblock %}
    </head>

    <body>
        <div class="container">
            <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-4">
                <div class="header">
                    <h1 class="brand-title">Flask Blog</h1>
                    <h2 class="brand-tagline">Creating a simple blog using Flask</h2>

                    <nav class="nav">
                        <ul class="nav-list">
                            {% if current_user.is_authenticated %}
                                <p>Welcome, {{ current_user.username }}</p>

                                <li class="nav-item">
                                    <a class="pure-button" href="/profile">Profile</a>
                                </li>

                                <li class="nav-item">
                                    <a class="pure-button" href="/logout">Logout</a>
                                </li>

                            {% else %}
                                <li class="nav-item">
                                    <a class="pure-button" href="/login">Login</a>
                                </li>

                                <li class="nav-item">
                                    <a class="pure-button" href="/register">Register</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="content pure-u-1 pure-u-md-3-4">
                <div>
                    <!-- messages -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {{message}}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    {% block body %}
                    {% endblock %}
                    <div class="footer">
                        <div class="pure-menu pure-menu-horizontal">
                            <ul>
                                <li class="pure-menu-item"><a href="https://github.com/KaySchus/Flask-Blog" class="pure-menu-link">About</a></li>
                                <li class="pure-menu-item"><a href="https://github.com/KaySchus/Flask-Blog" class="pure-menu-link">GitHub</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% block js %}
        {% endblock %}
    </body>
</html>