{% extends "base.html" %}

{% block title %}Flask Login Example{% endblock %}

{% block body %}
	<div id="layout" class="pure-g">
		<div class="sidebar pure-u-1 pure-u-md-1-4">
			<div class="header">
				<h1 class="brand-title">Flask Blog</h1>
				<h2 class="brand-tagline">Creating a simple blog using Flask</h2>

				<nav class="nav">
					<ul class="nav-list">
						<li class="nav-item">
							<a class="pure-button" href="http://purecss.io">Pure</a>
						</li>
						<li class="nav-item">
							<a class="pure-button" href="http://flask.pocoo.org/">Flask</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
{% endblock %}